.sobre-mim {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%; 
  
  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  min-height: 80vh; 
  align-items: center; 
  gap: 50px;
}

.sobre-conteudo, .conhecimentos {
  flex: 1;
}

.sobre-conteudo h2, .conhecimentos h3 {
  color: #c800ff;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}

.sobre-conteudo p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #333; 
}

.conhecimentos ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 2;
  color: #333;
}